<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>工种设置</title>
		<link rel="stylesheet" type="text/css" href="/uimaker/easyui.css">
	</head>
	<body>
		<div class="container">
			<table id="tab" style="width:100%;"></table>
			<div id="tb" style="padding:0 30px;">
				<div class="conditions">
					<span class="con-span">标题: </span><input class="easyui-textbox biaoti" type="text" name="biaoti" value="" style="width:166px;height:35px;line-height:35px;"></input>
					<a href="#" class="easyui-linkbutton" id="search" iconCls="icon-search" data-options="selected:true">查询</a>
					<a href="#" class="easyui-linkbutton" id="chongzhi" iconCls="icon-reload">刷新</a>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="/js/public.js"></script>
		<script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="/js/easyui-lang-zh_CN.js"></script>
		<script type="text/javascript">
			window.onload = function() {
				Import();
			}
			$(function() {

				var t_titleName = "工种设置";
				var u_url = "/WorkType/selectJobSetup";
				var m_method = "post";
				var a_arr_columns = tab_columns();
				var i_idName = "#tab";
				var t_toolbar = "#tb";
				init_datagrid(i_idName, t_titleName, u_url, a_arr_columns, m_method, t_toolbar);

			})


			function tab_columns() {
				var arr = new Array();
				arr.push({
					field: 'ck',
					checkbox: true,
					width: $(this).width() * 0.5,
					align: 'center',
					formatter: function(value, rowData, rowIndex) {
						return "<input type=\"checkbox\">";
					}
				});
				arr.push({
					field: 'id',
					title: '工种编号',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: 'worktypeName',
					title: '工种名称',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				return arr;
			}
			//查询按钮
			$("#search").click(function(){
				var  biaoti =$(".biaoti").val();
				alert(biaoti);
			})
			//重置按钮
			$("#chongzhi").click(function(){
				$(".biaoti").attr("value"," ");
				window.location.reload();
			})
		</script>
	</body>

</html>