<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户添加</title>
</head>
<body>


<form method="post" action="adduser">
    用户名:<input type="text" name="username"/><br/>
    密码：<input type="password" name="password"/><br/>
    角色：<select  name="roleid" >
        <option value="1">超级管理员</option>
        <option value="2">领导</option>
        <option value="3">专家</option>
        <option value="4">经理</option>
    </select>
    <input type="submit" value="添加用户"/>
</form>
<span th:text="${msg}"></span>
</body>
</html>