<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>原始考勤信息</title>
		<link rel="stylesheet" type="text/css" href="/uimaker/easyui.css">

	</head>

	<body>
		<div class="container">
			<table id="tab" style="width:100%;"></table>
			<div id="tb" style="padding:0 30px;">
				<div class="conditions">
					<span class="con-span">项目名称: </span><input class="easyui-textbox biaoti" type="text" name="biaoti" value="" style="width:166px;height:35px;line-height:35px;"></input>
					<a href="#" class="easyui-linkbutton" id="search" iconCls="icon-search" data-options="selected:true">查询</a>
					<a href="#" class="easyui-linkbutton" id="chongzhi" iconCls="icon-reload">刷新</a>
				</div>
			</div>

		</div>
		<div id="dd" style="padding:10px;">
			<table id="tab1" style="width:100%;"></table>
			<div id="tab_tb" style="padding:0 30px;">
				<div class="conditions">
					<span class="con-span">开始日期: </span><input class="easyui-datebox" type="text" name="startDate" style="height:35px;"></input>
					<span class="con-span">结束日期: </span><input class="easyui-datebox" type="text" name="endDate" style="height:35px;"></input>
					<a href="#" class="easyui-linkbutton" id="search1" iconCls="icon-search" data-options="selected:true">查询</a>
					<a href="#" class="easyui-linkbutton" id="chongzhi1" iconCls="icon-reload">刷新</a>
					<a href="#" class="easyui-linkbutton" id="daochu" iconCls="icon-list">导出</a>
					<span class="con-span">姓名: </span><input class="easyui-textbox biaoti" type="text" name="name" value="" style="width:166px;height:35px;line-height:35px;"></input>
					<span class="con-span">身份证号: </span><input class="easyui-textbox biaoti" type="text" name="ShenID" value="" style="width:166px;height:35px;line-height:35px;"></input>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="/js/public.js"></script>
		<script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="/js/easyui-lang-zh_CN.js"></script>
		<script type="text/javascript">
			window.onload = function() {
				Import();
			}
			$(function() {

				var t_titleName = "原始考勤信息";
				var u_url = "/json/jobSetup.json";
				var m_method = "get";
				var a_arr_columns = tab_columns();
				var i_idName = "#tab";
				var t_toolbar = "#tb";
				init_datagrid(i_idName, t_titleName, u_url, a_arr_columns, m_method, t_toolbar);
				
				WindowSetup("#dd", "考勤信息", 900, 700)
				$("#dd").window("close");
			})

			function tab_columns() {
				var arr = new Array();
				arr.push({
					field: 'attendance',
					title: '考勤信息',
					width: 200,
					align: 'center',
					formatter: function(value, row, index) {
						return '<a href="javacript:;" onclick="WindowLookInfo()"><img src="/images/look.png""></a>'
					}
				});
				arr.push({
					field: 'ProName',
					title: '项目名称',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: 'Count',
					title: '当前在场人数',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				return arr;
			}
			//查询按钮
			$("#search").click(function() {
				var biaoti = $(".biaoti").val();
				alert(biaoti);
			})
			//重置按钮
			$("#chongzhi").click(function() {
				$(".biaoti").attr("value", " ");
				window.location.reload();
			})

			function WindowLookInfo() {
				var t_titleName = "";
				var u_url = "";
				var m_method = "get";
				var a_arr_columns = tab1_columns();
				var i_idName = "#tab1";
				var t_toolbar = "#tab_tb";
				init_datagrid(i_idName, t_titleName, u_url, a_arr_columns, m_method, t_toolbar);	
				$("#dd").window("open")
			}

			function tab1_columns() {
				var arr = new Array();
				arr.push({
					field: 'photo',
					title: '照片',
					width: $(this).width() * 0.5,
					align: 'center',
					formatter: function(value, row, index) {
						return '<a href="javacript:;"><img src="/images/123.jpg" style="width:100px;height:100px;"></a>'
					}
				});
				arr.push({
					field: 'name',
					title: '名字',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: 'shenID',
					title: '身份证号',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: 'Dates',
					title: '日期',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: 'times',
					title: '时间',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: 'ChuRuType',
					title: '出入类型',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: 'ProName',
					title: '项目名称',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: 'SheBeiID',
					title: '设备名称',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: 'ShengChanShang',
					title: '生产商简称',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: 'ShengChanShangName',
					title: '生产商名称',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				return arr;
			}
		</script>
	</body>

</html>