<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript" src="../js/lizibg/jquery-1.11.1.min.js" ></script>
		<script type="text/javascript" src="../js/lizibg/jquery.particleground.min.js" ></script>
		<script type="text/javascript" src="../js/lizibg/demo.js" ></script>
	</head>
	<body>
	<div id="particles">
	     <div class="intro">
		     <h1>劳务用工实名制管理系统</h1>
	     </div>
     </div>

	</body>
</html>
