<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>劳务用工实名制管理系统</title>
		<link rel="stylesheet" href="../css/easyui.css" />
		<link rel="stylesheet" href="../css/icon.css" />
		<link rel="stylesheet" href="../css/base.css"/>
		<link rel="stylesheet" href="../css/platform.css"/>
	    <script type="text/javascript" src="../js/jquery.min.js"></script>
	    <script type="text/javascript" src="../js/jquery.easyui.min.js" ></script>
	    <script type="text/javascript" src="../js/main.js"></script>
	</head>
	<body>
		<div class="container" style="height: 100%;width: 100%;">
			<div id="pf-hd">
				 <div class="pf-logo">
                   <img src="/images/main/main_logo.png" alt="logo">
                 </div>
                <div class="pf-user">
                <div class="pf-user-photo">
                    <img src="/images/main/user.png" alt="">
                </div>
                <h4 class="pf-user-name ellipsis" th:text="${session.user.username}"></h4>
                <i class="iconfont xiala">&#xe607;</i>

                <div class="pf-user-panel">
                    <ul class="pf-user-opt">
                        <li>
                            <a href="javascript:;">
                                <i class="iconfont">&#xe60d;</i>
                                <span class="pf-opt-name">用户信息</span>
                            </a>
                        </li>
                        <li class="pf-modify-pwd"  shiro:hasPermission="user:adduser">
                                <a href="/add">
                                    <i class="iconfont">&#xe634;</i>
                                    <span class="pf-opt-name">添加用户</span>
                                </a>
                        </li>
                        <li class="pf-modify-pwd" shiro:hasPermission="user:updatepassword">
                            <a href="/update">
                                <i class="iconfont">&#xe634;</i>
                                <span class="pf-opt-name">修改密码</span>
                            </a>
                        </li>
                        <li class="pf-logout">
                            <a href="/logout">
                                <i class="iconfont">&#xe60e;</i>
                                <span class="pf-opt-name">退出</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
		</div>
			
		<div id="pf-bd">
			<div id="pf-sider">
                <h2 class="pf-model-name">
                    <span class="iconfont">&#xe64a;</span>
                    <span class="pf-name">劳务实名制管理</span>
                    <span class="toggle-icon"></span>
                </h2>
                <ul class="sider-nav">
                	<li class="current">
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe66e;</span>
                            <span class="sider-nav-title">信息中心</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s"><!--class="active"-->
                           <li onclick="AddTab(this,'通知公告','/Notice')"><a href="#">通知公告</a></li>
                           <li onclick="AddTab(this,'工种设置','/JobSetup')"><a href="#">工种设置</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="javascript:;">
                            <span class="iconfont sider-nav-icon">&#xe613;</span>
                            <span class="sider-nav-title">查询与统计</span>
                            <i class="iconfont">&#xe642;</i>
                        </a>
                        <ul class="sider-nav-s">
                           <li onclick="AddTab(this,'项目信息查询','ProjectInfo.html')"><a href="#">项目信息查询</a></li>
                           <li onclick="AddTab(this,'单位信息查询','CompanyInfo.html')"><a href="#">单位信息查询</a></li>
                           <li onclick="AddTab(this,'工资考勤查询','WageInfo.html')"><a href="#">工资考勤查询</a></li>
                           <li onclick="AddTab(this,'工人身份证信息','WorkerIDInfo.html')"><a href="#">工人身份证信息</a></li>
                           <li onclick="AddTab(this,'原始考勤信息','AttendanceInfo.html')"><a href="#">原始考勤信息</a></li>
                           <li onclick="AddTab(this,'项目综合地图','MapInfo.html')"><a href="#">项目综合地图</a></li>
                        </ul>
                     </li>
                    
                 </ul> 
            </div>

            <div id="pf-page">
                <div id="tt" class="easyui-tabs1" style="width:100%;height:100%;">
                  <div title="首页" style="padding:10px 5px 5px 10px;">
                    <iframe class="page-iframe" src="/Notice" frameborder="no"   border="no" height="100%" width="100%" scrolling="auto"></iframe>
                  </div>      
                </div>
            </div>
		</div>
			
			<div id="pf-ft">
				<div class="system-name">
                   <i class="iconfont">&#xe6fe;</i>
                   <span>劳务用工实名制管理系统&nbsp;</span>
                </div>
                <div class="copyright-name">
                   <span>CopyRight&nbsp;2020&nbsp;&nbsp;唐都科技&nbsp;版权所有</span>
                   <i class="iconfont" >&#xe6ff;</i>
                </div>
			</div>
		</div>
		
		
		<script type="text/javascript">
			
			$(".easyui-tabs1").tabs({
				tabHeight:44,
//				onSelect:function(title,index){
//					var curentTab=$(".easyui-tabs1").tabs("getSelected");
//					if(currentTab.find("iframe") && currentTab.find("iframe").size()){
//                   currentTab.find("iframe").attr("src",currentTab.find("iframe").attr("src"));
//                  }
//				}
				
			})
			//获取全部的菜单
			
			var cons=$('.main>div.content');
			//添加选项卡 
			function AddTab(aa,title,url){
				$(aa).addClass("active").siblings().removeClass("active");
				url=url;
				var tab=$("#tt").tabs("exists",title);
				if(tab){
					$("#tt").tabs("select",title);
				    $(aa).addClass("active").siblings().removeClass("active");
				}else{
					$("#tt").tabs("add",{
						title:title,
						content:'<div style="width:100%;height:100%;" title="'+title
						+'" style="padding:10px 5px 5px 10px;"><iframe class="page-iframe" src="'+url
						+'" frameborder="no"   border="no" height="100%" width="100%" scrolling="auto"></iframe></div>',
						closable:true
					})
				    $(aa).addClass("active").siblings().removeClass("active");	
				}
			}
		</script>
		
		
	</body>
</html>
