<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>项目信息查询</title>
		<link rel="stylesheet" type="text/css" href="/uimaker/easyui.css">
		<style type="text/css">
			.aaa {
				background-color: #ececec;
			}
		</style>

	</head>

	<body>
		<div class="container">
			<table id="tab" style="width:100%;"></table>
			<div id="tb" style="padding:0 30px;">
				<div class="conditions">
					<span class="con-span">工程名称: </span><input class="easyui-textbox biaoti" type="text" name="biaoti" value="" style="width:166px;height:35px;line-height:35px;"></input>
					<a href="#" class="easyui-linkbutton" id="search" iconCls="icon-search" data-options="selected:true">查询</a>
					<a href="#" class="easyui-linkbutton" id="chongzhi" iconCls="icon-reload">刷新</a>
				    <a href="#" class="easyui-linkbutton more" iconCls="icon-more">更多</a>
				</div>

				<div class="conditions hide">
					<span class="con-span">建设单位: </span><input class="easyui-textbox" type="text" name="code" style="width:166px;height:35px;line-height:35px;"></input>
					<span class="con-span">负责人: </span><input class="easyui-textbox" type="text" name="code" style="width:166px;height:35px;line-height:35px;"></input>
					<span class="con-span">监理单位: </span><input class="easyui-textbox" type="text" name="code" style="width:166px;height:35px;line-height:35px;"></input>
					<span class="con-span">项目经理: </span><input class="easyui-textbox" type="text" name="code" style="width:166px;height:35px;line-height:35px;"></input>
				<span class="con-span">工程属地: </span>
					<select class="easyui-combobox" name="language" style="height:35px;width:166px;">
						<option>洛龙区</option>
						<option>伊滨区</option>
					</select>
				</div>
				
			</div>
			<div id="win">
				<div class="easyui-layout" data-options="fit:true">
					<div data-options="region:'center'" style="padding:10px;">
						你的内容部分
					</div>
					<div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
						<a href="javascript:;" class="easyui-linkbutton" onclick="javascript:alert('ok')" data-options="toggle:true,group:'g1',selected:true">确定</a>
						<a href="javascript:;" class="easyui-linkbutton" onclick="javascript:alert('ok')" data-options="iconCls:'icon-remove'">取消</a>
					</div>
				</div>
			</div>

			<div id="dd" style="padding:10px;">
				<div style="padding:10px 60px 20px 60px">
					<form id="ff" method="get">
						<table cellpadding="5">
							<tr>
								<td colspan="6" style="font-weight: bolder;">项目基本信息</td>
							</tr>
							<tr>
								<td>项目名称:</td>
								<td><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;"></input>
								</td>
								<td>项目地址:</td>
								<td><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;"></input>
								</td>
								<td>工程类型:</td>
								<td>
									<select class="easyui-combobox" name="language" style="height:35px; width: 158px;"></select>
								</td>
							</tr>
							<tr>
								<td>工程状态:</td>
								<td>
									<select class="easyui-combobox" name="language" style="height:35px;width: 158px;"></select>
								</td>
								<td>总面积:</td>
								<td><input class="easyui-numberbox" type="text" name="email" data-options="min:0,precision:2" style="height:35px;"></input>
								</td>
								<td>造价(万元):</td>
								<td><input class="easyui-numberbox" type="text" name="email" data-options="min:0,precision:2" style="height:35px;"></input>
								</td>
							</tr>
							<tr>
								<td>安全生产许可证:</td>
								<td><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;"></input>
								</td>
								<td>是否重点项目:</td>
								<td>
									<select class="easyui-combobox" name="language" style="height:35px;width: 158px;"></select>
								</td>
								<td>项目活动类型:</td>
								<td>
									<select class="easyui-combobox" name="language" style="height:35px;width: 158px;"></select>
								</td>
							</tr>
							<tr>
								<td>所属区域:</td>
								<td>
									<select class="easyui-combobox" name="language" readonly style="height:35px;width: 158px;"></select>
								</td>
								<td>开工日期:</td>
								<td><input class="easyui-datebox" type="text" name="name" data-options="required:true" style="height:35px;"></input>
								</td>
								<td>竣工日期:</td>
								<td><input class="easyui-datebox" type="text" name="name" data-options="required:true" style="height:35px;"></input>
								</td>
							</tr>
							<tr>
								<td>地理坐标:</td>
								<td colspan="6"><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;width:95% ;"></input>
								</td>
							</tr>
							<tr>
								<td colspan="6" style="font-weight: bolder;">项目主体单位</td>
							</tr>
							<tr>
								<td>建设单位:</td>
								<td colspan="2"><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;width:210px;"></input>
								</td>
								<td>社会统一信用代码:</td>
								<td colspan="2"><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;width:210px;"></input>
								</td>
							</tr>
							<tr>
								<td>项目负责人:</td>
								<td colspan="2"><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;width:210px;"></input>
								</td>
								<td>手机:</td>
								<td colspan="2"><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;width:210px;"></input>
								</td>
							</tr>
							<tr>
								<td>施工单位:</td>
								<td colspan="2"><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;width:210px;"></input>
								</td>
								<td>社会统一信用代码:</td>
								<td colspan="2"><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;width:210px;"></input>
								</td>
							</tr>
							<tr>
								<td>项目负责人:</td>
								<td colspan="2"><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;width:210px;"></input>
								</td>
								<td>手机:</td>
								<td colspan="2"><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;width:210px;"></input>
								</td>
							</tr>
							<tr>
								<td>监理单位:</td>
								<td colspan="2"><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;width:210px;"></input>
								</td>
								<td>社会统一信用代码:</td>
								<td colspan="2"><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;width:210px;"></input>
								</td>
							</tr>
							<tr>
								<td>项目负责人:</td>
								<td colspan="2"><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;width:210px;"></input>
								</td>
								<td>手机:</td>
								<td colspan="2"><input class="easyui-textbox" type="text" name="name" data-options="required:true" style="height:35px;width:210px;"></input>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<div id="bb">
				<a href="#" class="easyui-linkbutton" onclick="SubForm()">保存</a>
				<a href="#" class="easyui-linkbutton" onclick="FunClose()">关闭</a>
			</div>

		</div>

		<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="/js/public.js"></script>
		<script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="/js/easyui-lang-zh_CN.js"></script>

		<script type="text/javascript">
			// 表格数据源 
			var datas = [];
			// 用代码造30条数据 
			for(var i = 1; i < 31; ++i) {
				datas.push({
					"id": i,
					"name": "Student" + i
				})
			}
			window.onload = function() {
				Import();
			}
			$(function() {
				var idName = "#tab";
				var title_name = "项目信息查询";
				var arr_columns = tab_columns();
				var t_toolbar = "#tb";
				init_get_datagrid(idName, title_name, arr_columns, t_toolbar, datas);

				WindowSetup("#win", "地图", 1000, 600);
				$("#win").window("close");

				DialogSetup("#dd", "项目详细信息", 950, 740, "#bb");
				$("#dd").dialog("close");
				//PanelSetup("#p","项目基本信息",980,200);
				//$("#p").panel("headerCls":"aaa")
			});

			function tab_columns() {
				var arr = new Array();
				arr.push({
					field: 'map',
					title: '地图',
					width: 200,
					align: 'center',
					formatter: function(value, row, index) {
						return '<a href="javacript:;" onclick="WindowLookMap()"><img src="/images/map.png""></a>'
					}
				});
				arr.push({
					field: 'proName',
					title: '工程名称',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "buildName",
					title: "建设单位",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "fuZeRen",
					title: "负责人",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "jianLiName",
					title: "监理单位",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "proRenName",
					title: "项目经理",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "proArea",
					title: "工程属地",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});

				return arr;
			}

			function WindowLookMap() {
				$("#win").window("open");
			}
			
			$(".more").click(function(){
				$(this).closest(".conditions").siblings().toggleClass("hide");
			})

			//双击一行的时候加载项目信息
			$("#tab").datagrid({
				onDblClickRow: function(rowIndex, rowData) {
					$("#dd").dialog("open");
					//
				}
			})

			//查询按钮
			$("#search").click(function() {
				var biaoti = $(".biaoti").val();
				alert(biaoti);
			});

			//重置按钮
			$("#chongzhi").click(function() {
				$(".biaoti").attr("value", " ");
				window.location.reload();
			});

			//表单的提交
			function SubForm() {
				$("#ff").form('submit', {
					//$.messager.progress(); // 显示进度条
					//url: 'test.json',
					onSubmit: function() {

						var isValid = $("#ff").form('validate');
						if(!isValid) {
							$.messager.progress('close'); // 如果表单是无效的则隐藏进度条
						}
						return isValid; // 返回false终止表单提交
					},
					success: function(data) {
						//var datas = eval('(' + data + ')');
						alert(data);
						$.messager.progress('close'); // 如果提交成功则隐藏进度条
						$.messager.show({
							title: '提示',
							msg: '数据保存成功。'
						});
					}

				});
			}
			//关闭的按钮
			function FunClose() {
				$("#dd").dialog("close");
			}
		</script>

	</body>

</html>