<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>工资考勤查询</title>
		<link rel="stylesheet" type="text/css" href="/uimaker/easyui.css">
	</head>

	<body>
		<div class="container">
			<table id="tab" style="width:100%;"></table>
			<div id="tb" style="padding:0 30px;">
				<div class="conditions">
					<span class="con-span">工作状态: </span>
					<select class="easyui-combobox" name="language" style="height:35px;width:166px;">
						<option>全部</option>
						<option>在职</option>
						<option>离职</option>
					</select>
					<span class="con-span">姓名: </span><input class="easyui-textbox biaoti" type="text" name="biaoti" value="" style="width:166px;height:35px;line-height:35px;"></input>
					<span class="con-span">电话: </span><input class="easyui-textbox phone" type="text" name="biaoti" value="" style="width:166px;height:35px;line-height:35px;"></input>
					<span class="con-span">身份证号: </span><input class="easyui-textbox ID" type="text" name="biaoti" value="" style="width:166px;height:35px;line-height:35px;"></input>
					<a href="#" class="easyui-linkbutton" id="search" iconCls="icon-search" data-options="selected:true">查询</a>
					<a href="#" class="easyui-linkbutton" id="chongzhi" iconCls="icon-reload">刷新</a>
					<a href="#" class="easyui-linkbutton more" iconCls="icon-more">更多</a>
				</div>

				<div class="conditions hide">
					<span class="con-span">项目名称: </span><input class="easyui-textbox" type="text" name="code" style="width:166px;height:35px;line-height:35px;"></input>
					<span class="con-span">所在单位: </span><input class="easyui-textbox" type="text" name="code" style="width:166px;height:35px;line-height:35px;"></input>
					<span class="con-span">所在班组: </span>
					<select class="easyui-combobox" name="language" style="height:35px;width:166px;">
						<option>木工班组</option>
						<option>钢筋班组</option>
					</select>
					<span class="con-span">工种: </span>
					<select class="easyui-combobox" name="language" style="height:35px;width:166px;">
						<option>木工</option>
						<option>泥工</option>
					</select>
				</div>

			</div>

			<div id="dd" style="padding:10px;">
					<table id="tab1" style="width:100%;"></table>
			</div>

			<div id="pp" style="padding:10px;">
				<table>
					<tr>
						<td>身份证照片:</td>
						<td><img src="/images/123.jpg" style="width: 200px; height: 200px;"/></td>
					</tr>
					<tr>
						<td>拍摄照片:</td>
						<td><img src="/images/123.jpg" style="width: 200px; height: 200px;"/></td>
					</tr>
				</table>
			</div>

		</div>

		<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="/js/public.js"></script>
		<script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="/js/easyui-lang-zh_CN.js"></script>

		<script type="text/javascript">
			// 表格数据源 
			var datas = [];
			// 用代码造30条数据 
			for(var i = 1; i < 31; ++i) {
				datas.push({
					"ZhuDate": "2020-5-25",
					"Name": "王伟华",
					"Phone": "13562548956",
					"ShenID": "410325199612038571",
					"JobType": "在职",
					"ProName": "河南建筑有限公司",
					"Danwei": "收到几点上班就开始丹邦科技",
					"Class": "钢筋班组",
					"JobType": "木工",
					"BankName": "建设银行",
					"ZhangHu": "王伟华",
					"BankID": "165464564985665465546"
				})
			}
			window.onload = function() {
				Import();
			}
			$(function() {
				var idName = "#tab";
				var title_name = "工资考勤查询";
				var arr_columns = tab_columns();
				var t_toolbar = "#tb";
				init_get_datagrid(idName, title_name, arr_columns, t_toolbar, datas);

				WindowSetup("#dd", "浏览", 900, 700);
				$("#dd").window("close");

				WindowSetup("#pp", "浏览", 600, 500);
				$("#pp").window("close");
			});

			function WindowLookFun() {
				$("#dd").window("open");

				init_datagrid("#tab1", "", "", tab1_columns(), "post", "")
			}

			function WindowLookIDFun() {
				$("#pp").window("open");
			}

			$(".more").click(function() {
				$(this).closest(".conditions").siblings().toggleClass("hide");
			})

			//查询按钮
			$("#search").click(function() {
				var biaoti = $(".biaoti").val();
				alert(biaoti);
			});

			//重置按钮
			$("#chongzhi").click(function() {
				$(".biaoti").attr("value", " ");
				window.location.reload();
			});

			function tab_columns() {
				var arr = new Array();
				arr.push({
					field: 'look',
					title: '工资考勤',
					width: 400,
					align: 'center',
					formatter: function(value, row, index) {
						return '<a href="javacript:;" onclick="WindowLookFun()"><img src="/images/look.png""></a>'
					}
				});
				arr.push({
					field: 'ID',
					title: '证照',
					width: 200,
					align: 'center',
					formatter: function(value, row, index) {
						return '<a href="javacript:;" onclick="WindowLookIDFun()"><img src="/images/ID.png""></a>'
					}
				});
				arr.push({
					field: 'ZhuDate',
					title: '注册日期',
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "Name",
					title: "姓名",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "Phone",
					title: "电话",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "ShenID",
					title: "身份证号",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "JobType",
					title: "工作状态",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "ProName",
					title: "项目名称",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "Danwei",
					title: "所在单位",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "Class",
					title: "所在班组",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "JobType",
					title: "工种",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "BankName",
					title: "银行名称",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "ZhangHu",
					title: "账户名称",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "BankID",
					title: "银行账号",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});

				return arr;
			}
		
		function tab1_columns() {
				var arr = new Array();
				arr.push({
					field: "Name",
					title: "姓名",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "ShenID",
					title: "身份证号",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "JobType",
					title: "工作状态",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "YingPrice",
					title: "应发金额",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "ShiPrice",
					title: "实发金额",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "ChuQin",
					title: "出勤天数",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "BankDate",
					title: "银行发放日期",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "BankName",
					title: "银行名称",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});
				arr.push({
					field: "BankID",
					title: "银行账号",
					sortable: true,
					width: $(this).width() * 0.5,
					align: 'center'
				});

				return arr;
			}

		
		</script>

	</body>

</html>