<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
用车订单
<form action="/vehicleorders/addvehicleorders">
    车辆id<input type="text" name="vehicleId"></br>
    车辆司机<input type="text" name="vehicleDriver"></br>
    开始地点<input type="text" name="beganAddress"></br>
    目的地地址<input type="text" name="destinationAddress"></br>
    结束地点<input type="text" name="endAddress"></br>
    订单详情<input type="text" name="orderDesc"></br>
    <input type="submit" value="提交">
</form>
</body>
</html>